html {
    background-color: #D5D1CB;
}

.navigation {
   background-color: #05195F;
   display: flex;
   text-align: center;
   justify-content: space-between;
}


.inline-block {
    color: white;
    display: flex;
    justify-content: right;
    list-style-type: none;
    align-items: center;
    justify-items: right;
    padding-right: 30px
}

.inline-block li {
    padding: 10px;
    font-size: 25px;
    font-family: "Kumbh_Sans", sans-serif;
}

.body {
    font-family: 'Kumbh_Sans', sans-serif;
}

.content {
    min-height: 550px;
    font-family: "Kumbh_Sans", sans-serif;
    display: flex;
    background-image: url("../images/hero_image.png");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 50px;
}

.p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.herotext {
    max-width: 600px;
    min-width: 600px;
    margin-left: 350px;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    font-size: larger;
    font-family: "Kumbh_Sans", sans-serif;
}

.mySkills {
    background-image: url("/images/myskills_img.png");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-position-y: 50px;
    min-height: 700px;
    font-family: "Kumbh_Sans", sans-serif;
}

.mySkills h2 {
    padding-left: 400px;
    padding-top: 150px;
}

.flexContainer {
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}

.skills {
    float: left;
}

.tools {
    float: right;
}

.skillList {
    column-count: 2;
}

.skills li {
    font-size: small;
    max-height: 200px;

}

.toolList {
    column-count: 2;
}

.tools li {
    font-size: small;
    max-height: 30px;
}

.workGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
        "doe outFront paseo";
    justify-content: center;
    padding-bottom: 100px;
}

.workGrid h3 {
    text-decoration: underline;
    font-family: "Kumbh_Sans", sans-serif;
}

.doe {
    grid-area: doe;
    text-align: center;
    justify-self: center;
    align-items: center;
}

.outFront {
    grid-area: outFront;
    justify-self: center;
    text-align: center;
    align-items: center;
}

.paseo {
    grid-area: paseo;
    text-align: center;
    align-items: center;
    justify-self: center;
}

.foot {
    background-color: #05195F;
    display: flex;
    color: white;
    text-align: left;
    padding-left: 30px;
    align-items: center;
    font-family: "Kumbh_Sans", sans-serif;

}
.socials {
    justify-content: flex-end;
    padding: 30px
}

@media only screen and (max-width: 600) {
    .workGrid {
        grid-template-columns: 100%;
        grid-template-areas: 
            "doe"
            "outFront"
            "paseo";
    }
}